In [47]:
#Sesion 6 
import pandas as pd
df = pd.read_stata('datos_ejemplo.dta')
#Agregar una nueva columna al DataFrame con valor constante
df['subsidio'] = 350000
#Agregar una nueva columna con un array
import numpy as np
sub=np.arange(0,50000)
df['sub']=sub
sub2=np.random.randint(0,350000,size=50000)
df['transfer'] = sub2
#que sean decimales
sub3=np.random.uniform(1,350000,size=50000)
df['transfer2'] = sub3
df['transfer2'] = round(df['transfer2'],2)
df

#Operaciones en columnas
#suma total de una columna 
df['Ingreso'].sum()
#cantidad de elementos
df['Ingreso'].count()
#Promedio 
df['Ingreso'].mean()
#desviacion estandar
df['Ingreso'].std()
#maximo y minimo
df['Ingreso'].max()
df['Ingreso'].min()

#Operaciones en filas
#suma de filas
df['Ingreso']+df['transfer2']
#promedio y asignar a columnas
df['promIng']=round((df['Ingreso']+df['transfer2'])/2,2)
#value counts = contar elementos por categorias
df['Genero'].value_counts()
#por porcentaje
df['Genero'].value_counts(normalize=True)

#Ordenar DataFrame
#segun valores numericos
#Segun una columna
#Segun el ingreso
df.sort_values('Ingreso')
#orden descendiente
df.sort_values('Ingreso', ascending=False)
#Segun varias columnas
df.sort_values(['Ingreso','Edad'])
#orden descendiente
df.sort_values(['Ingreso','Edad'], ascending=False)

#segun valores categoricos
df.sort_values('Ciudad', key=lambda col:col.str.lower())

,Nombre,Ciudad,Ingreso,PersonasHogar,Edad,Genero,NivelEducativo,subsidio,sub,transfer,transfer2,promIng
11565,Nereida de Recio,Barranquilla,747.13,6,29,Femenino,Media,350000,11565,276685,297294.19,149020.66
34897,Natividad Carvajal Cortes,Barranquilla,3948.71,10,57,Femenino,Básica secundaria,350000,34897,238508,70162.23,37055.47
8760,Fortunato Uría Francisco,Barranquilla,1186.78,1,50,Masculino,Básica primaria,350000,8760,154550,174554.86,87870.82
12965,Rosalía León Tejada,Barranquilla,1826.82,5,31,Masculino,Universitaria,350000,12965,8148,337669.31,169748.06
4257,Graciana Quirós Gaya,Barranquilla,3550.43,5,57,Masculino,Técnica,350000,4257,71700,33181.61,18366.02
...,...,...,...,...,...,...,...,...,...,...,...,...
17914,María Teresa Beltrán Santiago,Pereira,4728.48,2,48,Femenino,Tecnológica,350000,17914,26469,195573.09,100150.78
40915,Dionisia de Puerta,Pereira,4332.17,3,31,Masculino,Básica secundaria,350000,40915,40166,246323.95,125328.06
5235,Armida Juárez-Vergara,Pereira,652.66,9,43,Masculino,Básica primaria,350000,5235,174065,125585.73,63119.20
10925,Paz Coello Ponce,Pereira,4012.24,7,46,Femenino,Universitaria,350000,10925,168508,179148.66,91580.45
7506,Susana Roda Nogués,Pereira,4809.36,3,60,Masculino,Básica secundaria,350000,7506,68826,265581.87,135195.62

In [53]:
#Formato Long - Wide
import pandas as pd

data = {'Producto': ['Producto A', 'Producto B', 'Producto C'],
        'Región 1': [10, 20, 30],
        'Región 2': [15, 25, 35],
        'Región 3': [20, 30, 40]}

df = pd.DataFrame(data)
df_long = pd.melt(df, id_vars=['Producto'], var_name='Región', value_name='Ventas')
print(df_long)
df_wide = df_long.pivot(index='Producto', columns='Región', values='Ventas')
print(df_wide)

     Producto    Región  Ventas
0  Producto A  Región 1      10
1  Producto B  Región 1      20
2  Producto C  Región 1      30
3  Producto A  Región 2      15
4  Producto B  Región 2      25
5  Producto C  Región 2      35
6  Producto A  Región 3      20
7  Producto B  Región 3      30
8  Producto C  Región 3      40
Región      Región 1  Región 2  Región 3
Producto
Producto A        10        15        20
Producto B        20        25        30
Producto C        30        35        40